<div class="col-7">
  <div class="mb-4">
    <p class="fs-4 text-decoration-none text-black">Bookmarks</p>
  </div>
  <div id="tweets">
    <%= render partial: "tweets/tweet", collection: @tweet_presenters,  as: :tweet_presenter %>
  </div>
</div>
<div class="col">
  123
</div>