<div class="col-7">
  <div class="mb-4">
    <%= link_to 'Home', dashboard_path, class: 'fs-4 text-decoration-none text-black' %>
  </div>
  <ul>
    <%= render 'shared/tweet_form' %>
    <% Tweet.find_each do |tweet| %>
      <li><%= tweet.body %></li>
    <% end %>
  </ul>
</div>
<div class="col">Column</div>