<%= form_with model: Tweet.new, url: tweets_path, local: true, data: { controller: "tweet-form" } do |f| %>
  <%= f.text_area :body, class: "form-control w-100 tweet-input", placeholder: "What's happening?", data: { tweet_form_target: "textArea" } %>
  <div class="d-flex justify-content-end">
    <%= f.submit 'Tweet', class: 'btn-twitter rounded-pill border-0 px-4 py-2 mt-4' %>
  </div>
<% end %>