.tweet {
  animation: all .1s ease-in;
  -moz-animation: all .1s ease-in;
  -o-animation: all .1s ease-in;
  -webkit-animation: all .1s ease-in;
  transition: all .1s ease-in;

  &.hover {
    &:hover {
      background-color: $gray-100;
      cursor: pointer;
    }
  }

  .action-link {
    span {
      position: relative;
      top: 2px;
    }

    &.views, &.replies, &.share {
      &:hover {
        color: $twitter-blue !important;
      }
    }

    &.retweets {
      &:hover {
        color: $green-300 !important
      } 
    }

    &.likes {
      &:hover {
        color: $red-600 !important;
      } 
    }
  }
}